<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="from_EmailID" value="visionarylifesciences7@gmail.com" />
    <add key="from_PassWord" value="vls1234$" />
    <add key="mailBodyPath" value="E:\\employeeEmailTemplet.txt" />
    <add key="API_GetToken" value="https://endpoint.visionarylifescience.com/Auth/Signin" />
	 <add key="sendWhatsappMsg" value="https://twebapi.visionarylifescience.com/sendWatsappMsgModel" />

    <add key="API_ManualReportPunch" value="https://endpoint.visionarylifescience.com/TestBooking/ManualReportPunching" />
    <add key="API_GetReportUpdated" value="https://endpoint.visionarylifescience.com/TestBooking/GetReportValuesUpdated?BookingId=" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
	<directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
		 <rule name="RemoveASPX" enabled="true" stopProcessing="true">
                <match url="(.*)\.aspx" />
                <action type="Redirect" url="{R:1}" />
            </rule>
            <rule name="AddASPX" enabled="true">
                <match url=".*" negate="false" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
                </conditions>
                <action type="Rewrite" url="{R:0}.aspx" />
            </rule>
			 <rule name="LowerCaseRule" stopProcessing="true">
      <match url="[A-Z]" ignoreCase="false" />
      <action type="Redirect" url="{ToLower:{URL}}" />
      <conditions>
        <add input="{REQUEST_URI}" pattern="^.*/install" negate="true" />
        <add input="{REQUEST_URI}" pattern="^.*/media" negate="true" />
        <add input="{REQUEST_URI}" pattern="^.*/App_Plugins" negate="true" />
        <add input="{REQUEST_URI}" pattern="^.*/css" negate="true" />
        <add input="{REQUEST_URI}" pattern="^.*/scripts" negate="true" />
      </conditions>
    </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <trust level="Full" />
    <sessionState mode="InProc" timeout="15" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages enableEventValidation="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" tempDirectory="G:\PleskVhosts\visionarylifescience.com\tmp">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
  </system.web>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=202.154.161.105;Initial Catalog=MedicalDbBackup;Persist Security Info=True;User ID=Howzu;Password=Vls1234#?" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>